<div class="row">
	<div class="panel panel-white post panel-shadow">
		<div class="post-heading">
			<div class="pull-left meta">
				<div class="title h5">
					<a href="#"><b>Ryan Haywood</b></a>made a post.
				</div>
			</div>
		</div>
		<div class="post-description">
			<p><%= review.description %></p>
			<p><%= review.rating %></p>
			<div class="stats">
				<div class="row">
					<div class="col-lg-11" style="float: left;">
						<div class="star-rating">
							<% (review.rating).times do |x| %>
								<span class="fa fa-star"></span>
							<% end %>
							<% (5-review.rating).times do |x| %>
								<span class="fa fa-star-o"></span>
							<% end %>
							<input type="hidden" name="whatever3" class="rating-value" value="4.1">
						</div>
					</div>
					<% if current_user.id == review.user_id %>
						<div class="col-lg-1">
						<%= link_to '', [review.product, review], method: :delete, :class => "fa fa-trash-o" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>





